@if (menuitem){
<mat-card
  appearance="raised"
  routerLink="/restaurant/{{ menuitem.id }}"
  class="menuitem-card"
>
  <img src="{{ menuitem.pictureUrl }}" alt="image of {{ menuitem.name }}" />
  <mat-card-content class="mt-2">
    <h2 class="text-sm font-semibold uppercase">{{ menuitem.name }}</h2>
    <p class="font-light">{{ menuitem.price | currency }}</p>
  </mat-card-content>
  <mat-card-actions (click)="$event.stopPropagation()">
    <button
      mat-stroked-button
      class="w-full"
      (click)="cartService.addItemToCart(menuitem)"
    >
      <mat-icon>add_shopping_cart</mat-icon>
      Add to Cart
    </button>
  </mat-card-actions>
</mat-card>

}
