<header class="border-b shadow-md p-14 w-full">
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto"
  >
    <nav class="flex gap-3 my-2 titlecase text-lg">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/restaurant" routerLinkActive="active">Food Menu</a>
      <a>Drinks Menu</a>
      <a>Locations</a>
    </nav>
    <img
      routerLink="/"
      src="/images/logo.png"
      alt="app logo"
      class="max-h-16"
    />

    <div class="flex gap-3 align-middle">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        matBadge="{{ cartService.itemCount() }}"
        matBadgeSize="large"
        class="custom-badge mt-3 mr-2"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-stroked-button>Members</button>
      <button mat-stroked-button>Make a Reservation</button>
    </div>
  </div>
</header>
