<header class="border-b shadow-md p-14 w-full">
  <div
    class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto"
  >
    <nav class="flex gap-3 my-2 titlecase text-lg">
      <a>Home</a>
      <a>Food Menu</a>
      <a>Drinks Menu</a>
      <a>Locations</a>
    </nav>
    <img src="/images/logo.png" alt="app logo" class="max-h-16" />

    <div class="flex gap-3 align-middle">
      <a matBadge="5" matBadgeSize="large" class="custom-badge mt-3 mr-2">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-stroked-button>Members</button>
      <button mat-stroked-button>Make a Reservation</button>
    </div>
  </div>
</header>
